*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor1: #b0b0b0;
    --cor2: #111;
    --cor3: #27ae60;
    --cor4: #fff;
    --cor5: #000;
}

body{
    background-color: var(--cor5);
    color: var(--cor4);
}
.inicio{
    height: 100vh;
}
.header{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--cor2);
    justify-content: space-between;
}
.redes_social a:hover{
    transform: translateY(-10px);
    transform: scale(1.5);
}
.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.nav ul{
    display: flex;
    list-style: none;
}
.nav ul li{
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px;
}
.nav ul li a{
    text-decoration: none;
    color: var(--cor4);
    font-size: 19px;
}
.nav ul li a:hover{
    text-decoration: overline;
    color: #27ae60;  
}
.home{
    display: flex;
}
.foto_minha{
    width: 100%;
    height: 100vh;
}
.foto_minha div{
    margin-top: 15%;
    margin-left: 25%;
}
.foto_minha div img{
    width: 500px;
    height: 500px;
    border-left: 30px double #27ae60;
    border-top: 30px double #27ae60;
}
.redes_social a{
    display: block;
    margin-bottom: 20px;
}
.redes_social{
    position: absolute;
    top: -80px;
    left: -140px;
}
.redes_social .icon{
        width: 35px;
        height: 35px;
        margin: 5px;
}
.apresentacao{
    height: 100vh;
    width: 100vw;
}
.apresentacao div{
    margin-top: 20%;
    margin-left: 17%;
}
.apresentacao div p{
    font-size: 24px;
}
#front{
    margin-left: 25%;
}
.btn{
    width: 120px;
    height: 40px;
    margin: 50px 0px 0px 200px;
    border-radius: 8px;
   background-color: #1a2980;
}
@keyframes btn{
    0%{
        transform: scale(1.0);
    }
    100%{
        transform: scale(1.05);
    }
}
.btn:hover{
    background-color:#053d3c;
    animation: btn;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    
}
.btn a{
    text-decoration: none;
    color: var(--cor4);
    font-size: 17px;
    
}
.apresentacao div h1{
    color: var(--cor3);
    font-size: 64px;
}
.sobre h1{
    text-align: center;
    font-size: 54px;
}
span{
    color: var(--cor3);
}
.conteudo_sobre{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
}
.img img{
    border-right: 30px double #27ae60;
    border-bottom: 30px double #27ae60;
}
.sobre h1{
    text-decoration: underline #27ae60;
}
.text{
    width:35%;
    height:40%;
    margin-top:10%;
}
.text p{
    text-align: justify;
    padding: 8px;
}
.habilidades{
    width: 100%;
    height: 100vh;
}
.habilidades h1{
    text-align: center;
    font-size: 54px;
    text-decoration: underline #27ae60;
}
.habilidades p{
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}
.ferramentas{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.cards{
    margin: 120px;
    width: 100px;
    height: 100px;
}
.cards:hover{
    cursor: pointer;
}

.cards img:hover{
    transform: translateY(-25px);
}
.ferramentas img{
    width: 100px;
    height: 100px;
}
.projetos{
    width: 100%;
    height: 100vh;
}
.projetos h1{
    text-align: center;
    font-size: 54px;
    text-decoration: underline #27ae60;
}
.card_projetos{
    display: flex;
    justify-content: space-around;
}
.card_p{
    width: 400px;
    height: 450px;
    margin-top: 60px;
}
.card_p img{
    width: 100%;
    height:100%;
}
.card_p img:hover{
    transform: translateY(-30px);
}
.card_projetos p{
    text-align: center;
    margin-top: 20px;
}
#ver{
    text-align: center;
    margin-top: 20px;
}
.contato{
    width: 100%;
    height: 80vh;
}
.box_contato{
    display: flex;
    justify-content: space-around;
}
.forme{
    margin-top: 80px;
    width: 500px;
}
.forme h2{
    text-align: center;
    margin-bottom: 30px;
    color: #27ae60;
}
.box_forme{
    display: flex;
    flex-direction: column;
}
.box_forme input{
    margin-bottom: 40px;
}

footer{
    background-color: #111;
    width: 100%;
    height: 20vh;
}
.agradecimentos p{
    text-align: center;
}
.redes_sociais{
    margin-top:80px ;
}
.icon{
    width: 25px;
    height: 25px;
    margin: 5px;
}